<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>test.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>test.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTrain</servlet-name>
    <servlet-class>test.AddTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrain</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>test.AdminViewTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/adview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet1</servlet-name>
    <servlet-class>test.RegServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet1</servlet-name>
    <url-pattern>/reg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet2</servlet-name>
    <servlet-class>test.RegServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet2</servlet-name>
    <url-pattern>/reg2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisServlet</servlet-name>
    <servlet-class>test.DisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisServlet</servlet-name>
    <url-pattern>/dis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>test.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserProfile</servlet-name>
    <servlet-class>test.UserDeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserProfile</servlet-name>
    <url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTrain</servlet-name>
    <servlet-class>test.ViewTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrain</servlet-name>
    <url-pattern>/usview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserTrainDetails</servlet-name>
    <servlet-class>test.UserTrainDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTrainDetails</servlet-name>
    <url-pattern>/link</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTrain</servlet-name>
    <servlet-class>test.DeleteTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrain</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>EditTrainDetails</servlet-name>
    <servlet-class>test.EditTrainDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTrainDetails</servlet-name>
    <url-pattern>/uptrain1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTrainDetails2</servlet-name>
    <servlet-class>test.EditTrainDetails2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTrainDetails2</servlet-name>
    <url-pattern>/uptrain2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserViewProfile</servlet-name>
    <servlet-class>test.UserViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewProfile</servlet-name>
    <url-pattern>/userviewprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserForgotPassword1</servlet-name>
    <servlet-class>test.UserForgotPassword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgotPassword1</servlet-name>
    <url-pattern>/forgot1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserForgotPassword2</servlet-name>
    <servlet-class>test.UserForgotPassword2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgotPassword2</servlet-name>
    <url-pattern>/forgot2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditProfile1</servlet-name>
    <servlet-class>test.UserEditProfile1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditProfile1</servlet-name>
    <url-pattern>/editprofile1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditProfile2</servlet-name>
    <servlet-class>test.UserEditProfile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditProfile2</servlet-name>
    <url-pattern>/editprofile2</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>pessenger</servlet-name>
    <servlet-class>test.Pessenger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pessenger</servlet-name>
    <url-pattern>/book1</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AddPessenger</servlet-name>
  <servlet-class>test.AddPessenger</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddPessenger</servlet-name>
  <url-pattern>/book2</url-pattern>
  </servlet-mapping>
 <servlet>
 <servlet-name>AddPessenger2</servlet-name>
 <servlet-class>test.AddPessenger2</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddPessenger2</servlet-name>
 <url-pattern>/book3</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>AddPessenger3</servlet-name>
 <servlet-class>test.AddPessenger3</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddPessenger3</servlet-name>
 <url-pattern>/book4</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>AddPessenger4</servlet-name>
 <servlet-class>test.AddPessenger4</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddPessenger4</servlet-name>
 <url-pattern>/book5</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>AddPessenger5</servlet-name>
 <servlet-class>test.AddPessenger5</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddPessenger5</servlet-name>
 <url-pattern>/book6</url-pattern>
 </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
</web-app>